---
export const prerender = false;
const { article_slug } = Astro.props;
import { createClient } from '@supabase/supabase-js';
const supabaseUrl = await (import.meta.env.SECRET_SUPABASE_URL);
const supabaseKey = await (import.meta.env.SECRET_SUPABASE_KEY);
const supabase = createClient(supabaseUrl, supabaseKey)

let { data: articleTitles, error } = await supabase
  .from('article_stats')
  .select("title")
  .eq('article_slug', article_slug)

let articleTitle = articleTitles[0].title
---
<h1 class="text-xl py-4 h-20">Like {articleTitle}?</h1>
